.light-head,
.dark-head {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 300px;
}
.light-background,
.dark-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.light-content,
.dark-content {
  width: 37%;
  height: 300px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heading {
  display: flex;
  justify-content: space-between;
}
.heading span {
  font-size: 2rem;
  font-weight: 750;
  letter-spacing: 0.2;
  color: white;
}
.heading img {
  padding-top: 50px;
  width: 30px;
  height: 30px;
}
.heading img:hover {
  cursor: pointer;
}
.dark-body {
  height: 100vh;
  background-color: #0d0d36;
  z-index: -1;
}
.light-body {
  height: 100vh;
  background-color: white;
  z-index: -1;
}
.addTodo{
  /* background-color: white; */
  background-color: white;
}